<div class="container pb-5 mb-sm-2">
    <!-- Categories grid-->
    <div class="row no-gutters " >
        <!-- Category-->
        <div class="col-sm-4 category-card border border-collapse " repeat.for="joke of appState.newJokes">
            <div class="card border-0" >
                <p>${joke.value}</p>
                <div class="card-body pb-2">
                    <h2 class="h6 mb-2">Category : ${appState.category}</h2>
                    <p>Data:</p>
                    <div class="list-group list-group-flush font-size-sm">
                        <p class="list-group-item list-group-item-action">
                            ID: ${joke.id}
                        </p>
                        <p class="list-group-item list-group-item-action">
                            Date: ${joke.created_at}
                        </p>
                </div>
            </div>
    </div>
</div>